{% extends 'base.html.twig' %}

{% block title %}Welcome to Labyrinth Online!
{% endblock %}

{% set target = "." %}
{% if board.players[0].targets|length > 0 %}
	{% set target = board.players[0].targets[0] %}
{% endif %}

{% block body %}

	<div class="game">
		<div class="board">
			{% for line in board.tiles %}
				{% for boardTile in line %}
					{% set tile = boardTile.tile %}
					<div class="tile tile--shape-{{ tile.shape }} tile--rotation-{{ boardTile.rotation }} {% if target == tile.treasure %}tile--target{% endif %}">
						<div class="emoji">
							{{ emojis[tile.treasure] }}
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>

		<div class="player">
			<div class="row">
				<div class="row__label">
					Player
				</div>

				<div class="row__value">
					{{ board.players[0].color }}
				</div>
			</div>

			<div class="row">
				<div class="row__label">
					Target
				</div>

				<div class="row__value">
					{{ emojis[target] }}
				</div>
			</div>

			<div class="row row--end actions">
				{{ form_start(rotationForms.anticlockwise, { 'action': url('board_rotate_remaining_anticlockwise')}) }}
				<button type="submit">
					&#x21B6;
				</button>
				{{ form_end(rotationForms.anticlockwise) }}

				<div class="tile">
					{% set remainingTile = board.remainingTile %}
					{% set tile = remainingTile.tile %}
					<div class="tile tile--remaining tile--shape-{{ tile.shape }} tile--rotation-{{ remainingTile.rotation }} {% if target == tile.treasure %}tile--target{% endif %}">
						<div class="emoji">
							{{ emojis[tile.treasure] }}
						</div>
					</div>
				</div>

				{{ form_start(rotationForms.clockwise, { 'action': url('board_rotate_remaining_clockwise')}) }}
				<button type="submit">
					&#x21B7;
				</button>
				{{ form_end(rotationForms.clockwise) }}
			</div>
		</div>
	</div>
{% endblock %}
