{% extends 'base.html.twig' %}

{% block title %}Waiting for {{ board.remainingSeats }} players{% endblock %}

{% block body %}
<div class="container">

    <div class="row justify-content-center">
        <div class="col col-8">
            <div class="alert alert-info">
                Waiting for {{ board.remainingSeats }} more players to start the game.
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col col-8">
            <div class="alert alert-dark">
                Share the game URL with other players: <a href="{{ app.request.uri }}">{{ app.request.uri }}</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col col-8 justify-content-center">
            <h1>Current players</h1>
            <ul>
                {% for player in board.players %}
                    <li>{{ player.attendee.username }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col col-8">
            {% if canJoin %}
            {{ form(form) }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
const eventSource = new EventSource("{{ mercure(url('board_view', { 'id': board.id }))|escape('js') }}");
eventSource.onmessage = event => {
    window.location.reload();
}
</script>
{% endblock %}