{% extends "base.html.twig" %}

{% block title %}Labyrinth Game #{{ board.id }}{% endblock %}

{% block body %}
	<div class="game">
		{% if app.session.flashbag.peek('errors')|length > 0 %}
			{% for message in app.flashes('errors') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		
		<div class="game__actions game__actions--top">
			{% include "board/components/insert_tile.html.twig" with {
				"actionUrl": url("board_insert_tile_top", { "id": board.id }),
				"gameState": boardState.gameState,
				"label": "↓",
			} %}
		</div>

		<div class="game__row">
			<div class="game__actions game__actions--left">
				{% include "board/components/insert_tile.html.twig" with {
					"actionUrl": url("board_insert_tile_left", { "id": board.id }),
					"gameState": boardState.gameState,
					"label": "→",
				} %}
			</div>

			<div class="board">
				{% for line, lineTiles in boardState.tiles %}
					{% for row, boardTile in lineTiles %}
						{% include "board/components/tile.html.twig" with {
							"line": line,
							"row": row,
							"tile": boardTile.tile,
							"rotation": boardTile.rotation,
							"players": boardState.players,
							"gameState": boardState.gameState,
						} %}
					{% endfor %}
				{% endfor %}
			</div>

			<div class="game__actions game__actions--right">
				{% include "board/components/insert_tile.html.twig" with {
					"actionUrl": url("board_insert_tile_right", { "id": board.id }),
					"gameState": boardState.gameState,
					"label": "←",
				} %}
			</div>

			<div class="scores">
				<div class="scores__row scores__row--actions">
					{% include "board/components/rotate_remaining.html.twig" with {
						"actionUrl": url("board_rotate_remaining_anticlockwise", { "id": board.id }),
						"label": "↶",
					} %}

					<div class="tile">
						{% set remainingTile = boardState.remainingTile %}
						{% set tile = remainingTile.tile %}
						<div class="tile__content tile--remaining tile--shape-{{ tile.shape }} tile--rotation-{{ remainingTile.rotation }} {% if playerInfo and playerInfo.target == tile.treasure %}tile--target{% endif %}">
							<div class="emoji">
								{{ emojis[tile.treasure] }}
							</div>
						</div>
					</div>

					{% include "board/components/rotate_remaining.html.twig" with {
						"actionUrl": url("board_rotate_remaining_clockwise", { "id": board.id }),
						"label": "↷",
					} %}
				</div>

				{% if canPlay and boardState.gameState != 2 %}
				<div class="alert alert-success">
					Your Turn, you can:
					{% if boardState.gameState == 0 %}
						Place Tile.
					{% elseif boardState.gameState == 1 %}
						Move Pawn.
					{% endif %}
				</div>
				{% endif %}

				{% if playerInfo %}
				<div class="scores__row">
					<div class="scores__row__label">
						Your Color
					</div>

					<div class="scores__row__value">
						{{ colors[playerInfo.color] }}
					</div>
				</div>
					
				<div class="scores__row">
					<div class="scores__row__label">
						Your Target
					</div>

					<div class="scores__row__value">
						{{ emojis[playerInfo.target] }}
					</div>
				</div>
				{% endif %}

				<div class="scores__row scores__row--heading">
					<div class="scores__row__label">
						Waiting Player
					</div>

					<div class="scores__row__value">
						{{ players[currentPlayer.color].name }}
					</div>
				</div>

				<div class="scores__row">
					<div class="scores__row__label">
						Player Color
					</div>

					<div class="scores__row__value">
						{{ colors[currentPlayer.color] }}
					</div>
				</div>

				<div class="scores__row scores__row--heading">
					<div class="scores__row__label">
						Player Scores
					</div>
				</div>

				{% for boardPlayer in boardState.players %}
					<div class="scores__row">
						<div class="scores__row__label">
							{{ players[boardPlayer.color].name }}
						</div>

						<div class="scores__row__value">
							{{ boardPlayer.score  }} / {{ boardPlayer.score + boardPlayer.targets|length }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="game__actions game__actions--bottom">
			{% include "board/components/insert_tile.html.twig" with {
				"actionUrl": url("board_insert_tile_bottom", { "id": board.id }),
				"gameState": boardState.gameState,
				"label": "↑",
			} %}
		</div>
	</div>

<script>
const eventSource = new EventSource("{{ mercure(url('board_view', { 'id': board.id }))|escape('js') }}");
eventSource.onmessage = event => {
    window.location.reload();
}
</script>

{% if boardState.gameState == 2 %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
	confetti({
		particleCount: 1000,
		spread: 500,
		origin: { y: 0.6 }
	});
</script>
{% endif %}
{% endblock %}
