{% extends "base.html.twig" %}

{% block title %}Welcome to Labyrinth Online!
{% endblock %}

{% set target = "" %}
{% if currentPlayer.targets|length > 0 %}
	{% set target = currentPlayer.targets[0] %}
{% endif %}

{% block body %}
	<div class="game">
		<div class="game__actions game__actions--top">
			{% include "board/components/insert_tile.html.twig" with {
				"actionUrl": url("board_insert_tile_top", { "id": board.id }),
				"gameState": boardState.gameState,
				"label": "↓",
			} %}
		</div>

		<div class="game__row">
			<div class="game__actions game__actions--left">
				{% include "board/components/insert_tile.html.twig" with {
					"actionUrl": url("board_insert_tile_left", { "id": board.id }),
					"gameState": boardState.gameState,
					"label": "→",
				} %}
			</div>

			<div class="board">
				{% for line, lineTiles in boardState.tiles %}
					{% for row, boardTile in lineTiles %}
						{% include "board/components/tile.html.twig" with {
							"line": line,
							"row": row,
							"tile": boardTile.tile,
							"rotation": boardTile.rotation,
							"players": boardState.players,
						} %}
					{% endfor %}
				{% endfor %}
			</div>

			<div class="game__actions game__actions--right">
				{% include "board/components/insert_tile.html.twig" with {
					"actionUrl": url("board_insert_tile_right", { "id": board.id }),
					"gameState": boardState.gameState,
					"label": "←",
				} %}
			</div>

			<div class="scores">
				<div class="scores__row scores__row--actions">
					{% include "board/components/rotate_remaining.html.twig" with {
						"actionUrl": url("board_rotate_remaining_anticlockwise", { "id": board.id }),
						"label": "↶",
					} %}

					<div class="tile">
						{% set remainingTile = boardState.remainingTile %}
						{% set tile = remainingTile.tile %}
						<div class="tile__content tile--remaining tile--shape-{{ tile.shape }} tile--rotation-{{ remainingTile.rotation }} {% if target == tile.treasure %}tile--target{% endif %}">
							<div class="emoji">
								{{ emojis[tile.treasure] }}
							</div>
						</div>
					</div>

					{% include "board/components/rotate_remaining.html.twig" with {
						"actionUrl": url("board_rotate_remaining_clockwise", { "id": board.id }),
						"label": "↷",
					} %}
				</div>

				<div class="scores__row">
					<div class="scores__row__label">
						Player
					</div>

					<div class="scores__row__value">
						{{ currentPlayer.color }}
					</div>
				</div>

				<div class="scores__row">
					<div class="scores__row__label">
						Target
					</div>

					<div class="scores__row__value">
						{{ emojis[target] }}
					</div>
				</div>

			</div>
		</div>

		<div class="game__actions game__actions--bottom">
			{% include "board/components/insert_tile.html.twig" with {
				"actionUrl": url("board_insert_tile_bottom", { "id": board.id }),
				"gameState": boardState.gameState,
				"label": "↑",
			} %}
		</div>
	</div>
{% endblock %}
